/* Responsive Design */
@media (max-width: 768px) {
  aside.left {
    display: none;
    grid-area: left-side;
    width: 360px;
    overflow: hidden;
  }

  .side-panel {
    max-width: 100% !important;
    padding: 0.5rem !important;
  }

  .go-back-btn {
    display: block;
  }
}
