/* Responsive Design */
@media (max-width: 768px) {
  aside.left {
    display: none;
    grid-area: left-side;
    width: 360px;
    overflow: hidden;
  }

  .side-panel {
    max-width: 100% !important;
    padding: 0.5rem !important;
  }

  .go-back-btn {
    display: block;
  }

  .side-panel-mobile {
    display: block !important;
  }

  /* .logout-section {
    position:absolute;
    width: 100%;
    bottom: 0;
  } */

  .ul-section{
    height: 40vh !important;
  }

  .user-form{
    height: 100%;
  }
}
