* {
  padding: 0;
  margin: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.attached-file-image {
  height: auto !important;
  width: 20dvw !important;
  object-fit: contain !important;
}

/*  BASE TEMPLATE LAYOUT */
main {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-areas:
    "head head head"
    "left-side content right-side";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
}

header {
  grid-area: head;
  height: 80px;
}
section {
  grid-area: content;
  overflow: hidden;
}

aside.left {
  grid-area: left-side;
  width: 360px;
  overflow: hidden;
}

/* optional rani  */
aside.right {
  grid-area: right-side;
  width: 360px;
  z-index: 9999;
  overflow: hidden;
}

footer {
  grid-area: foot;
}

/*** END ***/

.loading-screen {
  filter: blur(6px);
}

#map {
  height: calc(100vh);
  width: 100%;
}

.map-avatar {
  border-radius: 50%;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.247) 0px 5px 15px; */
  /* display: inline-block; */
}
.tooltip-container {
  width: 250px;
}
.tooltip-weather {
  border-radius: 5px;
  padding: 10px;
  background-color: #007bff;
  font-weight: 900;
  color: whitesmoke;
  font-size: 12px;
}
.tooltip-address {
  color: #686d76;
  font-size: 12px;
}
.img-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.img-avatar-name {
  font-size: 23px;
  text-transform: capitalize;
}

.map-button-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.primary-btn {
  height: 50px;
  width: 150px;
  padding: 10px;
  background-color: #007bff;
  color: whitesmoke;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.new-action-btn {
  height: 50px;
  width: 150px;
  padding: 10px;
  background-color: #6c757d;
  color: whitesmoke;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar-container {
  background-color: rgba(192, 192, 192, 0.874);
  height: 100%;
  width: 100%;
}
.text-loading {
  font-size: 32px;
}

.is-flex {
  display: flex;
}

.is-flex-direction-row {
  flex-direction: row;
}
.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.flex-direction-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-content-space-between {
  align-content: space-between;
}

.justify-content-space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
.h-90 {
  height: 90%;
}

.h-80 {
  height: 80%;
}

.h-50 {
  height: 50%;
}

.h-20 {
  height: 20%;
}

.h-10 {
  height: 10%;
}

.p-5 {
  padding: 5em;
}
.p-2 {
  padding: 2em;
}

.p-1 {
  padding: 1rem;
}

.mr-1 {
  margin-right: 1em;
}
.mr-5 {
  margin-right: 5em;
}

.mt-1 {
  margin-top: 1em;
}
.mt-5 {
  margin-top: 5em;
}

.mt-6 {
  margin-top: 6em;
}

.mb-1 {
  margin-bottom: 1em;
}

.flex-gap-1 {
  gap: 1em;
}

.card {
  border-radius: 10px;
  z-index: 400;
  position: absolute;
  height: 100px;
  width: 400px;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top-header {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  width: 100%;
  padding: 30px;
  position: absolute;
  z-index: 9999;
  background-color: whitesmoke;
}

li {
  padding: 15px !important;
}

.btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
}

.input-text-modal {
  width: 100%;
  line-height: 2rem;
  font-size: 1.5rem;
  padding: 10px 0;
}

.go-back-btn {
  display: none;
}

.marker-pin-red {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #f23b3b;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin-red::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

.marker-pin-green {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #008000;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin-green::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

.pin-avatar {
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  transform: rotate(45deg);
}

.logo {
  /* height: 300px; */
  width: 400px;
}

.login-container {
  /* position: absolute; */
  /* border: 10px solid red; */
  width: 100%;
  height: 100%;
}
